---
export interface Props {
  href: string;
  target?: string;
  rel?: string;
}
const { href, target='_blank', rel='noreferrer' } = Astro.props;
---
<style lang='scss'>
  @import '../../../styles/baseStyles';
  .link {
    color: $highlight;
    padding: 0 .2rem;
    &:hover, &:focus-visible {
      text-decoration: underline;
    }
  }
</style>
<a class='link' href={ href } target={ target } rel={ rel }><slot /></a>