---
import Head from '../../components/head/HeadCommon.astro';
import MainLayout from '../main/MainLayout.astro';
import ProjectView from '../../components/projects/projectView/projectView.tsx'
import './materialPaleNight.scss'
import './slot.scss';
const { content } = Astro.props;

console.log(content.title)
---
<html>
  <head>
    <Head title={ content.title } />
  </head>
  <body>
    <MainLayout>
      { content.type === 'project' ? <ProjectView client:idle projectData={ content } key='' projectPage={ true }/> : null }
      <section class="slot">
        <slot/>
      </section>
    </MainLayout>
  </body>
</html>