---
export interface Props {
	title?: string;
}
const { title= 'amir4rab' } = Astro.props;
---
<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<link rel="alternate icon" type="image/x-icon" href="/favicon.ico" />

<link rel="sitemap" href="/sitemap.xml" />
<title>{ title }</title>
<meta name="description" content="I am amir arab, a front-end developer.">

<!-- Global CSS -->
<style global lang="scss">
	@import "../../styles/global.scss";
</style>