---
import Head from '../components/head/HeadCommon.astro';
import MainLayout from '../layouts/main/MainLayout.astro';
import ErrorPage from '../components/404/404.astro';
---
<html lang='en'>
	<head>
		<Head title='404' />
	</head>
	<body>
		<MainLayout>
      <ErrorPage />
		</MainLayout>
	</body>
</html>
