---
import Head from '../components/head/HeadCommon.astro';
import MainLayout from '../layouts/main/MainLayout.astro';
import About from '../components/about/About.astro';
---
<html lang='en'>
	<head>
		<Head title='amir4rab - about' />
	</head>
	<body>
		<MainLayout>
			<About />
		</MainLayout>
	</body>
</html>
