---
import Head from '../components/head/HeadCommon.astro';
import MainLayout from '../layouts/main/MainLayout.astro';
import ContactComponent from '../components/contact/Contact.astro';
---
<html lang='en'>
	<head>
		<Head title='amir4rab - contact' />
	</head>
	<body>
		<MainLayout>
			<ContactComponent />
		</MainLayout>
	</body>
</html>
