---
import Head from '../components/head/HeadCommon.astro';
import MainLayout from '../layouts/main/MainLayout.astro';
import Main from '../components/main/Main.astro';
---
<html lang="en">
	<head>
		<Head title="amir4rab" />
	</head>
	<body>
		<MainLayout>
			<Main />
		</MainLayout>
	</body>
</html>
