@import '../../styles/baseStyles';

.mainLayout {
  padding: 5vh 2rem 2rem 2rem;
}
@include forDesktopUp {
  .mainLayout {
    max-width: $desktopMaxWidth;
    width: $desktopWidth;
    margin: auto;
    padding: 10vh 0 5vh 0;
  }
}