---
import Navbar from '../../components/navbar/navbar.svelte';
---
<style lang="scss">
  @import "./MainLayout.scss";
</style>
<>
  <Navbar client:load />
  <main class="mainLayout">
    <slot />
  </main>
</>